# Node
node_modules
dist
.env
.vite

# Laravel
/vendor
/storage/*.key
/storage/app/public
/storage/framework/*
/storage/logs
.env
.phpunit.result.cache

# Docker
docker-compose.override.yml
*.log

# Mac / système
.DS_Store

/frontend-admin/.env
/frontend-admin/node_modules
/frontend-franchise/.env
/frontend-franchise/node_modules
/backend/.env
/backend/.env.example
# Never commit env files
.env*
devops/.env*
backend/.env*
